.container{
  display: flex;
  justify-content: center;
}

.left_col{
  padding: 50px;
  padding-top: 5px;
  margin-left: 150px;
  margin-top: 0px;
}
.hi{
font-weight: 450;
font-size: 40px;
letter-spacing: 2.5px;
padding-top: 00px;
margin-top: 15px;
}

.para{
font-weight: 200;

}
.hi:hover {
  /* Styles on hover */
  color: rgb(248, 175, 188); /* New text color on hover */
}

.image{
  width: 320px; /* Adjust the width as per your requirement */
  height: auto;
  margin: 50px;
  margin-top: 30px;
  border-radius: 0px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
  margin-top: 0px;

}


.right_col{
  margin: 50px;
  margin-right: 200px;
  margin-top: 50px;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center; /* Center items vertically */
  }

  .left_col, .right_col {
    margin: 20px; /* Adjust margins for stacking */
  }
}


.download-button1 {
  background-color: white;
  color: rgb(39, 39, 39);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
  font-size: 16px;
  border-radius: 0; /* Sharp edges */
  margin-left: 100px;
  margin-top: 12px;
  outline: none; 
  box-shadow: none; 
}

.download-button1:hover {
  background-color: rgb(39, 39, 39);
  color: white;
}